<mat-toolbar>
    <mat-icon aria-hidden="false" aria-label="Example home icon" style="margin-left: 7rem; margin-right: 1rem;">
        home</mat-icon>
    <span>Calculator App - Souvik</span>
</mat-toolbar>

<div ng-app="calculate">
    <div ng-controller="MainCtrl" class="container">
        <div class="shell">
            <div class="screen">
                <input type="text" name="Input" class="display" [value]="display">
            </div>
            <div style="width: 320px; height: 340px; margin: 0 auto;">
                <button type="button" class="btn c-btn" (click)="Clear()">ON</button>
                <button type="button" class="btn c-btn" (click)="Clear()">C</button>
                <button type="button" class="btn1" (click)="Operator('/')">&divide;</button>
                <button type="button" class="btn1" (click)="Operator('*')">&times;</button>
                <button type="button" class="btn" (click)="Number(7)">7</button>
                <button type="button" class="btn" (click)="Number(8)">8</button>
                <button type="button" class="btn" (click)="Number(9)">9</button>
                <button type="button" class="btn1" (click)="Operator('+')">&#43;</button>
                <button type="button" class="btn" (click)="Number(4)">4</button>
                <button type="button" class="btn" (click)="Number(5)">5</button>
                <button type="button" class="btn" (click)="Number(6)">6</button>
                <button type="button" class="btn1" (click)="Operator('-')">&#45;</button>
                <button type="button" class="btn" (click)="Number(1)">1</button>
                <button type="button" class="btn" (click)="Number(2)">2</button>
                <button type="button" class="btn" (click)="Number(3)">3</button>
                <button type=" button" class="btn" (click)="Number(0)" style="width: 68%;">0</button>
                <button type="button" id="equals" class="btn" (click)="calculate()"
                    style="margin-left: 8px; position: absolute; height: 180px; margin-top: -50px;">=</button>
                <button type="button" id="prime" class="btn" (click)="Operator('p')" style="width: 80px;">Prime</button>
                <button type="button" id="factorial" class="btn" (click)="Operator('!')"
                    style="width: 120px;">Factorial</button>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Like</button>
            <button mat-raised-button color="accent">Share</button>
        </mat-card-actions>
    </mat-card>
</div>