<body>
    <div class="1">
        <div class="grid">
            <span class="input-1">First Number : <input type="text" [(ngModel)]="firstNumber"></span>
            <span class="input-2">Second Number : <input type="text" [(ngModel)]="secondNumber"></span>
            <br>
        </div>
        <div class="grid-footer">
            <button class="btn-1" type="button" (click)="Add_Number()">ADD</button>
            <button class="btn-2" type="button" (click)="Subtract_Number()">SUBTRACT</button>
            <button class="btn-3" type="button" (click)="Multiply_Number()">MULTIPLY</button>
            <button class="btn-4" type="button" (click)="Divide_Number()">DIVIDE</button>
        </div>
        <p class="result">RESULT : {{display}}{{result}}</p>
    </div>

    <div class="2" style="margin-top: 7rem;">
        <span style="margin-left: 19.5rem;" class="input-1">Enter Number : <input type="text"
                [(ngModel)]="factorialNumber" [(ngModel)]="primeNumber"></span>
        <button class="btn-5" type="button" (click)="Factorial()">CHECK FACTORIAL</button>
        <button class="btn-6" type="button" (click)="Prime()">CHECK PRIME</button>
        <p class="result">{{result2}}</p>
        <p class="result">{{result3}}</p>
    </div>

    <p style="display: flex; justify-content: center; margin-top: 10rem;">MADE WITH ❤️ BY SOUVIK NAYAK</p>

</body>